h1, h2 {
    text-align: center;
}

.BoldIt{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;;
}

.spaceIt{
    margin-bottom:23px;
    padding-bottom: 200px;
}

.cell {
    cursor: cell;
}

ul {
    list-style-type: none;
}
ul li {
    display: inline;
}

.color-button {
    width: inherit;
    height:inherit ;
    /*cursor: pointer;*/
    margin: 30px auto;
    padding: 30px;
    border: 2px solid black;
    color: white;
}
.color-button-red {
    background-color: red;
}
.color-button-green {
    background-color: green;
}
.color-button-blue {
    background-color: blue;
}




